/TiposPrimitivos/target/
/OperadoresAritmeticos/target/
/OperadorTernario/target/
/ComparacaoString/target/
/OperadoresLogicos/target/
/ProgramaMedia/target/
/ProgramaIdade/target/
/ProgramaImparPar/target/
/QuantidadePernas/target/
/Contador01/target/
/Repeticao01/target/
/Numeros/target/
